* {
  margin: 0;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

html {
  /* hadi t3 bach scrol ykon mnadm*/
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

.logo {
  height: 80px;
  width: 80px;
  margin-left: 10px;
  margin-top: 5px;
}

img {
  height: 20%;
  width: 40%;
  border-radius: 20px;
}

header {
  /* hadi bach dir l3fsa t3 flou fla bare lfoganya*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.scroll {
  color: black;
}

header ul {
  width: 20%;
  font-size: 3.5 em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  li a {
    color: rgb(236, 237, 239);
    font-size: 1.2em;
  }
  li {
    width: 100%;
    text-align: center;
  }
  .services {
    text-align: end;
  }
}

header ul li a:hover {
  text-decoration: underline;
  transition: 500ms;
}

.intro {
  /*hada t3 lktba */
  background: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.664);
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 2em;
    font-weight: 600;
    width: 70%;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  h1 {
    font-size: 6em;
    font-weight: 900;
    width: 70%;
    text-align: center;
    margin-bottom: 2px;
    color: rgb(255, 255, 255);
  }
}

.intro video {
  /* hado les parametre t3 la video*/
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/*had lhaya ri bach la video tkon responsive (tji 3la ga3 les formes t3 les ecrand)*/

@media (min-aspect-ratio: 16/9) {
  .intro video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .intro video {
    width: auto;
    height: 100%;
  }
}

.dz {
  width: 100%;
  min-height: 100vh;
  background-color: #886d57;
  display: flex;
  overflow: hidden;
  img {
    position: relative;
    top: 200px;
    right: 100px;
  }
  #services a button {
    background-color: #9b7d65;
  }
}

#services {
  /* les parametre pour les 2 section .dz et .etranger*/
  color: rgb(236, 237, 239);
  padding-left: 5%;
  padding-top: 5%;
  h2 {
    font-size: 5em;
    width: 70%;
    padding-bottom: 5%;
  }
  p {
    width: 70%;
    padding-bottom: 2%;
    font-size: 1.5em;
  }
  a {
    padding: 0;
    button {
      height: 7%;
      margin: 10px;
      font-size: 1.5em;
      border-radius: 5px;
      border-style: none;
    }
  }
}

.dz #services a button:hover {
  background-color: #866237;
  color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.etranger {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #9db0a3;
  overflow: hidden;
  #services {
    color: black;
  }
  #services h2 {
    height: 50%;
    width: 100%;
    padding-bottom: 2%;
  }
  p {
    padding-bottom: 2%;
  }
  #services a button {
    background-color: #a9c9b3;
  }
  img {
    position: relative;
    top: 200px;
    left: 100px;
  }
}

.etranger #services a button:hover {
  background-color: #8bae98;
  color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.destinations {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .text {
    margin-top: 5%;
    h2 {
      text-align: center;
      font-size: 4em;
      width: 25%;
      position: relative;
      left: 40%;
    }
    p {
      text-align: center;
      font-size: 2em;
      width: 45%;
      position: relative;
      left: 30%;
    }
  }
  overflow: hidden;
  /* hadi bach hadik zyada ma tg3dch */
  .animation {
    min-width: 200%;
    ul {
      list-style: none;
      display: flex;
      padding: 0;
      width: 100%;
      animation: scroll 20s linear 1s infinite alternate;
      /* animation scroll image*/
      animation-play-state: running;
      /* bach animation ttmcha*/
      li {
        display: flex;
        align-items: center;
        margin: 15px;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          transition: 0.5s ease-in-out;
        }
      }
    }
  }
}

.animation ul:hover {
  /*bach animation thbs*/
  animation-play-state: paused;
}

.animation ul li img:hover {
  transform: scale(1.2);
  z-index: 2;
}

.footer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  overflow: hidden;
  .img {
    height: 25%;
    width: 100%;
    text-align: center;
    img {
      height: 20%;
      width: 20%;
    }
  }
  .list {
    margin: 2% 0 2% 0;
    width: 100%;
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin-right: 3%;
        font-size: 3em;
        color: #277f76;
        .contact {
          color: #277f76;
        }
        a {
          color: rgb(255, 255, 255);
        }
      }
      li :hover {
        color: #277f76;
      }
    }
  }
  .description {
    color: rgb(236, 237, 239);
    width: 100%;
    font-size: 2em;
    text-align: center;
    background-color: #277f76;
    padding: 2% 0 3% 0;
    overflow: hidden;
    a {
      color: black;
    }
    input {
      border-radius: 2em;
    }
  }
}

@keyframes scroll {
  /* animation scroll image*/
  0% {
    transform: translate(0);
  }
  100% {
    transform: translatex(-50%);
  }
}

@media screen and (max-width: 768px) {
  header {
  }
  .intro {
  }
}

@media screen and (min-width: 2200px) {
  /* hadi ta3 responsivite bach lktba tban 3la hsab ga3 les fond d'ecrand*/
  header {
    height: 13%;
    ul {
      font-size: 3em;
      width: 40%;
      margin-right: 0;
    }
  }
  .logo {
    height: 150px;
    width: 150px;
  }
  .intro {
    font-family: "Noto Sans", serif;
    p {
      font-size: 4em;
    }
    h1 {
      font-size: 8em;
    }
  }
  .dz,
  .etranger,
  .destinations {
    font-size: 2em;
  }
  .footer {
    font-size: 1.3em;
    input {
      font-size: 1.1em;
      border-radius: 3em;
    }
  }
}

@media screen and (max-width: 2200px) and (min-width: 1441px) {
  header {
    height: 10%;
    ul {
      font-size: 2em;
      width: 40%;
      margin-right: 0;
    }
    .logo {
      height: 100px;
      width: 100px;
    }
  }
  .dz {
    #services {
      padding-top: 10%;
      h2 {
        font-size: 7em;
      }
      p {
        font-size: 2em;
      }
      a {
        font-size: 2em;
        button {
          border-radius: 10px;
        }
      }
    }
  }
  .etranger {
    #services {
      padding-left: 10%;
      padding-top: 10%;
      h2 {
        font-size: 7em;
      }
      p {
        font-size: 2em;
      }
      a {
        font-size: 2em;
        button {
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) and (min-width: 1056px) {
  header {
    ul {
      width: 40%;
    }
  }
  .dz,
  .etranger {
    #services {
      padding-top: 8%;
      height: 80%;
    }
  }
  .etranger {
    #services {
      padding-left: 13%;
    }
  }
  .footer {
    .img {
      img {
        height: 15%;
        width: 15%;
      }
    }
  }
}
